* {
    width: 95%;
    margin: 0 auto;
}
h1 {
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
}
li {
    display: flex;
    padding: 20px;
}
span {
    width: 20%;
}
h2 {
    width: 60%;
    font-weight: 100;
    font-size: 20px;
}
p {
    margin: 10px;
}

li:nth-child(even) {
    background-color: gray;
}
